<h1></h1>
<p></p>
<div>
  <%= form_for @disk, url: upload_files_disk_path(@disk) do |f| %>

    <div class="field">
      <ul>
        <%= f.label :files %><br/>
        <%= f.file_field :files,
                         placeholder: 'Upload files',
                         multiple: true,
                         accept: "#{Disk::PERMITTED_EXTENTIONS.join(', ')}"
        %>
        <div class='actions'>
          <%= f.submit '+ upload',
                       method: :patch,
                       title: 'upload files',
                       class: 'btn btn-block btn-success fa fa-plus'
          %><br/>
        </div>
      </ul>
  <% end %>
  </div>
</div>
